<%= form_with(model: movies_info, local: true) do |form| %>
  <% if movies_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movies_info.errors.count, "error") %> prohibited this movies_info from being saved:</h2>

      <ul>
        <% movies_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.text_field :movie_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
  <br>
  Enter in the following JSON:
  <br>
  [{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}]
  <br>
  <br>
    <%= form.label :cast %>
    <%= form.text_field :cast %>
  </div>

  <div class="field">
  <br>
  Enter in the following JSON:
  <br>
  [{"credit_id": "52fe4232c3a36847f800b579", "department": "Camera", "gender": 2, "id": 120, "job": "Director of Photography", "name": "Dariusz Wolski"}]
  <br>
  <br>
    <%= form.label :crew %>
    <%= form.text_field :crew %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
