<p id="notice"><%= notice %></p>

<h1>Movies Infos</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Title</th>
      <th>Cast</th>
      <th>Crew</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies_infos.each do |movies_info| %>
      <tr>
        <td><%= movies_info.movie_id %></td>
        <td><%= movies_info.title %></td>
        <td><%= movies_info.cast %></td>
        <td><%= movies_info.crew %></td>
        <td><%= link_to 'Show', movies_info %></td>
        <td><%= link_to 'Edit', edit_movies_info_path(movies_info) %></td>
        <td><%= link_to 'Destroy', movies_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movies Info', new_movies_info_path %>
